.footer {
  background-color: white;
  color: black;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
}

.footer-info {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 16px;
  right: 20px;
}

.social-icon {
  color: #333;
  font-size: 22px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0077b5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-social {
    position: static;
    margin-top: 10px;
  }
}
